#map {
  height: 500px;
  width: 50%;
  height: 750px;
  width: 45%;
  float: right;
  margin: 30px;
}

#nextButton, #previousButton {
  display: none;
}

#results {
  display: none;
}


body {
  font-family: helvetica;
  margin: 0;
  height: 100vh;
  /* cursor: url("assets\css\icons8-dog-bone-30 (1).png"), auto; */
}


header {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px 10px 0px;
  text-align: center;
}

::placeholder {
  color: aquamarine;
}

.business-image {
  width: 600px;
  height: 200px;
}