#map {
  height: 500px;
  width: 50%;
  height: 750px;
  width: 45%;
  float: right;
  margin: 30px;
}

body {
  font-family: helvetica;
}

header {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px 10px 0px;
  text-align: center;
}